extends layout

block content
  h1 Delete BookInstance: #{bookinstance.book.title} (#{bookinstance.imprint})

  form(method='POST' action='')
    input(type='hidden', name='bookinstanceid', value=bookinstance._id)
    button.btn.btn-danger(type='submit') Delete
